body {
    background-color: #58658b;
    color: white;
    font-family: "Playwrite DE Grund", cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;

}
button {
    background-color: #1b1969;
    color: white;
    font-family: "Playwrite DE Grund", cursive;

}
.passo {
    display: none;

}
.passo.ativo {
    display:block;

}
main {
    text-align: center;
    max-width: 90%;

}
img {
    max-width: 90%;
}